body{ font-family:'Times New Roman', Times, serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.name-highlight{
    color: orange;
}
.dream{
    color: indigo;
}
.orange-highlight{
   color: orange;
   font-size: 20px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("developer-portfolio/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato, red);
}
.exp{
    color: teal;
}
.dream-area{
    background-image: url("developer-portfolio/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    height: 70%;
    background-color: white;
}
.experience-area{
    background-image: url(developer-portfolio/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
   font-size: 12px;
}